
<div *ngIf="!quizActive && notEnoughQuestions">
    <p>
        ! You currently dont have enough questions to run a quiz, you need at least {{questionsInQuiz}}. Add more questions and try again.
    </p>
</div>

<div *ngIf="!quizActive">    
    <div class="field">
        <span class="field__name">Select tags for next quiz: </span>
        <div class="field__checkboxes field__checkboxes">
            <label *ngFor="let tag of tags$ | async">
                <input type="checkbox" [checked]="doesQuizHaveTag(newQuiz, tag)" (click)="toggleQuizTag(newQuiz, tag)"> {{tag.value}}
            </label>
        </div>
    </div>   
    <button (click)="startQuiz()">Start Quiz</button>
</div>

<div *ngIf="quizActive">
    <h3>Question {{questionNumber}} of {{questionsInQuiz}}</h3>
    <div class="quiz-question">{{newQuiz.questionsAndAnswers[questionNumber-1].question.value}}</div>

    <form [formGroup]="questionAnswerForm" (ngSubmit)="submitAnswer()">
        <div class="field">
            <span class="field__name">Your Answer: </span><br/>
            <textarea 
                class="field__text-area field__input"  
                formControlName="value" 
                [readonly]="newQuiz.questionsAndAnswers[questionNumber-1].answer">
            </textarea>
        </div>
        <button [disabled]="newQuiz.questionsAndAnswers[questionNumber-1].answer">Submit</button>
    </form>

    <div *ngIf="newQuiz.questionsAndAnswers[questionNumber-1] &&  newQuiz.questionsAndAnswers[questionNumber-1].answer">
        <h3>The Correct Answer Is:</h3>
        <h3>{{newQuiz.questionsAndAnswers[questionNumber-1].question.correctAnswer}}</h3>
        <div>
            Mark the answer correct or incorrect:<br>
            <button (click)="markAnswer('correct')">Correct</button>
            <button (click)="markAnswer('incorrect')">Incorrect</button>
        </div>
    </div>

    <button 
        *ngIf="newQuiz.questionsAndAnswers[questionNumber-1].answer && newQuiz.questionsAndAnswers[questionNumber-1].answer.correct !== undefined" 
        (click)="questionNumber < newQuiz.questionsAndAnswers.length ? nextQuestion() : completeQuiz()">
        {{questionNumber < newQuiz.questionsAndAnswers.length ? "Next" : "Complete"}}
    </button>

</div>

<hr>



<button (click)="setSubsection('Quizzes List')">Quizzes List</button>

<div class="quiz list" *ngIf="selectedSubsection === 'Quizzes List'">
    <h2>Past Quizzes</h2>
    <div *ngFor="let quiz of quizzes$ | async">
        <div (click)="selectQuiz(quiz)" class="quiz list__item " >
            {{quiz.dateCompleted | date:'short' }}
            <span class="list__item__mark">Mark: {{ getQuizMark(quiz.questionsAndAnswers) }}/{{quiz.questionsAndAnswers.length}}</span>
        </div>
        <div class="list__item list__item--expanded" *ngIf="selectedQuiz && quiz.id === selectedQuiz.id">
            <hr>
            
            <h4>Quiz Tags</h4>
            <div class="field">
                <span class="field__name">Tags: </span>
                <div class="field__checkboxes field__checkboxes--disabled">
                    <label *ngFor="let tag of tags$ | async">
                        <input type="checkbox" [checked]="doesQuizHaveTag(quiz, tag)" (click)="toggleQuizTag(quiz, tag)"  disabled="disabled"> {{tag.value}}
                    </label>
                </div>
            </div> 

            <h4>Quiz Question And Answers</h4>
            <div class="question list">
                <div *ngFor="let questionAndAnswer of quiz.questionsAndAnswers">
                    <div [ngClass]="['list__item', questionAndAnswer.answer.correct?'list__item--green':'list__item--red']" (click)="selectQuestion(questionAndAnswer.question)" *ngIf="!selectedQuestion || questionAndAnswer.question.id !== selectedQuestion.id">
                        {{questionAndAnswer.question.value}}
                    </div>
                    <div [ngClass]="['list__item', 'list__item--expanded', questionAndAnswer.answer.correct?'list__item--green':'list__item--red']"  *ngIf="selectedQuestion && questionAndAnswer.question.id === selectedQuestion.id">
                        <hr>
                        <div class="field">
                            <span class="field__name">Question: </span>
                            <input class="field__input" [(ngModel)]="questionAndAnswer.question.value" disabled="disabled">
                        </div>
                        <div class="field">
                            <span class="field__name">Correct Answer: </span>
                            <textarea class="field__text-area field__input" disabled="disabled" [(ngModel)]="questionAndAnswer.question.correctAnswer"></textarea>
                        </div>
                        <div class="field">
                            <span class="field__name">Tags: </span>
                            <div class="field__checkboxes field__checkboxes--disabled">
                                <label *ngFor="let tag of tags$ | async">
                                    <input type="checkbox" [checked]="doesQuestionHaveTag(questionAndAnswer.question, tag)" disabled="disabled"> {{tag.value}}
                                </label>
                            </div>
                        </div>                        
                        <div class="field">
                            <span class="field__name">Your Answer: </span>
                            <textarea class="field__text-area field__input" disabled="disabled" [(ngModel)]="questionAndAnswer.answer.value"></textarea>
                        </div>
                        <button type="button" (click)="selectQuestion(null)">Close</button>
                        <hr>
                    </div>
                </div>
            </div>
            <button type="button" (click)="selectQuiz(null)">Close</button>
            <hr>
        </div>
    </div>
</div>
