
<hr>

<h3>Add Question</h3>

<div class="field">
    <span class="field__name">Question: </span>
    <input class="field__input" [(ngModel)]="newQuestion.value">
</div>
<div class="field">
    <span class="field__name">Correct Answer: </span>
    <textarea class="field__text-area field__input" [(ngModel)]="newQuestion.correctAnswer"></textarea>
</div>
<div class="field">
    <span class="field__name">Tags: </span>
    <div class="field__checkboxes">
        <label *ngFor="let tag of tags$ | async">
            <input type="checkbox" [checked]="doesQuestionHaveTag(newQuestion, tag)" (click)="toggleQuestionTag(newQuestion, tag)"> {{tag.value}}
        </label>
    </div>
</div>
<button (click)="submitNewQuestion()">Submit</button>

<hr>

<button (click)="setSubsection('Questions List')">Questions List</button>
<button (click)="setSubsection('Tag Management')">Tag Management</button>

<div class="list" *ngIf="selectedSubsection === 'Questions List'">
    <h2>Questions List</h2>
    <div *ngFor="let question of questions$ | async">
        <div class="list__item" (click)="selectQuestion(question)" *ngIf="!selectedQuestion || question.id !== selectedQuestion.id">
            {{question.value}}
        </div>
        <div class="list__item--expanded" *ngIf="selectedQuestion && question.id === selectedQuestion.id">
            <hr>
            <h3>Edit Question: {{selectedQuestion.value}}</h3>
            <div class="field">
                <span class="field__name">Question: </span>
                <input class="field__input" [(ngModel)]="selectedQuestion.value">
            </div>
            <div class="field">
                <span class="field__name">Correct Answer: </span>
                <textarea class="field__text-area field__input" [(ngModel)]="selectedQuestion.correctAnswer"></textarea>
            </div>
            <div class="field">
                <span class="field__name">Tags: </span>
                <div class="field__checkboxes">
                    <label *ngFor="let tag of tags$ | async">
                        <input type="checkbox" [checked]="doesQuestionHaveTag(selectedQuestion, tag)" (click)="toggleQuestionTag(selectedQuestion, tag)"> {{tag.value}}
                    </label>
                </div>
            </div>
            <button (click)="submitUpdatedQuestion()">Update</button>
            <button type="button" (click)="selectQuestion(null)">Close</button>
            <button (click)="deleteQuestion(selectedQuestion.id)">Delete</button>
            <hr>
        </div>
    </div>
</div>


<app-tag-management class="questions-list" *ngIf="selectedSubsection === 'Tag Management'"></app-tag-management>

